{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set topButtonPosition    = config('Ceres.footer.to_top_button') %}

{% set footerContainer = LayoutContainer.show("Ceres::Footer") | trim %}
{% if footerContainer is not empty %}
    <div class="footer d-print-none">
        <div class="container-max">
            <div class="row">
                <div class="col clearfix">
                    {{ footerContainer | raw }}
                </div>
            </div>
        </div>

        <div class="btn text-center border mx-auto rounded-lg p-0{% if topButtonPosition == "right" %} back-to-top btn-secondary pt-1{% else %} back-to-top-center{% endif %}">
            <i class="fa fa-chevron-up fa-2x default-float"></i>
        </div>

        <div class="btn btn-secondary d-block d-md-none text-center p-2" v-scroll-to-top>
            <i class="fa fa-arrow-up fa-2x default-float" aria-hidden="true"></i>
        </div>
    </div>
{% endif %}
